{% extends "_base.html" %}
{% block content %}
    <div class="container">
      <div class="mt-1">
        <h1>{{ story['story_title'] }}</h1>
        <h2>{{ story['story_signature'] }}</h2>
      </div>
        <p class="lead">{{ story['story_body'] }}</p>
        <p> This story ID:&nbsp;<a href="{{ url_for('view_story', story_url=story['story_url']) }}">{{ story['story_url'] }}</a></p>
      {% if story['story_uid'] == story_uid %}
        <button onclick="location.href='{{ url_for('edit_story', story_url=story['story_url']) }}'" class="btn btn-primary" type="submit">Редактировать</button>
      {% endif %}
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}